@page
@model HabitTracker.WebUI.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>

@if (Model.ShowErrorMessage)
{
    <p>
        <strong>Message:</strong> @Model.Message
    </p>
}
